services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - JENKINS_OPTS=--prefix=/jenkins
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh/id_ed25519:/var/jenkins_home/.ssh/id_ed25519:ro

    restart: always
    networks:
      - homelab_net

volumes:
  jenkins_home:

networks:
  homelab_net:
    external: true
